@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

.menu-bg {
  background-image: url("https://i.ibb.co/M16TJfF/bg-section-18.jpg");
}



.section-devider {
  height: 8px;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: #ffd44c;
  width: 80px
}

@tailwind base;
@tailwind components;
@tailwind utilities;